@model IEnumerable<Car_rental.Models.payment>

@{
    ViewData["Title"] = "Order List";
    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    var Id = Context.Session.GetInt32("_ID") != null ? Context.Session.GetInt32("_ID") : null;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Car Table</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Total Amount
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Customer Email
                            </th>
                            <th>
                                Date Of Payment
                            </th>
                            <th>
                                Car Model
                            </th>
                            <th>
                                Booking Id
                            </th>
                            <th>
                                Start Date
                            </th>
                            <th>
                                End Date
                            </th>
                            <th>
                                Pick Up
                            </th>
                            <th>
                                Return
                            </th>
                            <th>
                                Location
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.amount)
                                </td>
                                <td>
                                    @{
                                        if (item.status == 0)
                                        {
                                            @Html.Raw("<span class='badge badge-warning'>Waiting</span>")
                                        }
                                        else if (item.status == 1)
                                        {
                                            @Html.Raw("<span class='badge badge-primary'>Accepted</span>")
                                        }
                                        else if (item.status == 2)
                                        {
                                            @Html.Raw("<span class='badge badge-info'>In progress</span>")
                                        }
                                        else if (item.status == 3)
                                        {
                                            @Html.Raw("<span class='badge badge-success'>Accomplished</span>")
                                        }
                                        else if (item.status == 4)
                                        {
                                            @Html.Raw("<span class='badge badge-danger'>Cancel</span>")
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.booking.user.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.paymentDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.car.model)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.booking.id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.booking.startDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.booking.endDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.booking.TakeCar)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.booking.CarBack)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.car.address)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a> |

                                </td>
                                <td>
                                    @{
                                        if(item.status == 0 ||item.status == 1 ||item.status == 2){
                                            if (item.status == 0)
                                            {
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                                        data-toggle="dropdown">
                                                        Set Status
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item btn bg-success" asp-controller="Payment" asp-action="SetStatus" 
                                                        asp-route-userId="@Id" asp-route-paymentId="@item.id" asp-route-status="1"><p class="text-white">Confirm Order</p></a>
                                                        <a class="dropdown-item btn bg-danger" asp-controller="Payment" asp-action="SetStatus" 
                                                        asp-route-userId="@Id" asp-route-paymentId="@item.id" asp-route-status="4"><p class="text-white">Cancel Order</p></a>
                                                    </div>
                                                </div>

                                            }
                                            else if (item.status == 1)
                                            {         
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                                        data-toggle="dropdown">
                                                        Set Status
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item btn bg-primary" asp-controller="Payment" asp-action="SetStatus" 
                                                        asp-route-userId="@Id" asp-route-paymentId="@item.id" asp-route-status="2"><p class="text-white">Set it In progress</p></a>
                                                    </div>
                                                </div>
                                            }
                                            else if (item.status == 2)
                                            {
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                                        data-toggle="dropdown">
                                                        Set Status
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item btn bg-success" asp-controller="Payment" asp-action="SetStatus" 
                                                        asp-route-userId="@Id" asp-route-paymentId="@item.id" asp-route-status="3"><p class="text-white">Set it Accomplished</p></a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div class="btn-group" role="group" aria-label="Basic example">
                @if (pager.TotalPages > 0)
                {
                    var pre = 1;
                    var next = pager.CurrentPage + 1;
                    <a type="button" class="btn btn-outline-secondary" asp-controller="Payment" asp-action="Index"
                        asp-route-pg="@pre">&lt;</a>
                    @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                    {

                        <a type="button" class="btn btn-outline-secondary" asp-controller="Payment" asp-action="Index"
                            asp-route-pg="@pge">@pge</a>
                        pre = pge - 1;
                        if (pre == 1 || pre == 0)
                        {
                            pre = 1;
                        }
                        if (next >= pager.EndPage)
                        {
                            next = pager.EndPage;
                        }
                    }
                    <a type="button" class="btn btn-outline-secondary" asp-controller="Payment" asp-action="Index"
                        asp-route-pg="@next">&gt;</a>

                }
            </div>
        </div>
    </div>
</div>

