@model Car_rental.Models.category

@{
    ViewData["Title"] = "Details";
    var role = Context.Session.GetString("_Role") != null ? Context.Session.GetString("_Role") : null;
    string message = "You are not authorized to access this page!";
    if (role != "Admin")
    {
        <script>
            alert("@message");
            window.location.href = "/Car/Home";
        </script>
    }
}

<h1>Details</h1>

<div>
    <h4>category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted_Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deleted_Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
