@model IEnumerable<Car_rental.Models.paymentHistory>
@{
    ViewData["Title"] = "Booking history";
    Pager pager = new Pager();
    int pageNo = 0;
    var Id = Context.Session.GetInt32("_ID") != null ? Context.Session.GetInt32("_ID") : null;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../user/images/image_1.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
                                class="ion-ios-arrow-forward"></i></a></span>
                    <span>Get Coins History</span>
                </p> <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Get Coins History</h1>
            </div>
        </div>
    </div>
</section>
<section style="background-color: #eee;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pills">
                <div class="bd-example bd-example-tabs">
                    <div class="d-flex justify-content-center">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-description-tab" data-toggle="pill"
                                    href="#pills-description" role="tab" aria-controls="pills-description"
                                    aria-expanded="true">Get Coins History</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
                            aria-labelledby="pills-description-tab">
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead
                                            style="background-color: #01d28e; color: white; font-weight: bold; text-align: center;">
                                            <th>
                                                Code
                                            </th>
                                            <th>
                                                Time
                                            </th>
                                            <th>
                                                Coins
                                            </th>
                                            <th>
                                                Value
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr style="text-align: center; border-bottom: 1px solid black;">
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Code)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.timeStamp)
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (item.Amount == "100000")
                                                            {
                                                                @Html.Raw("100")
                                                                ;
                                                            }
                                                            else if (item.Amount == "200000")
                                                            {
                                                                @Html.Raw("200")
                                                                ;
                                                            }
                                                            else if (item.Amount == "500000")
                                                            {
                                                                @Html.Raw("500")
                                                            }
                                                            else if (item.Amount == "1000000")
                                                            {
                                                                @Html.Raw("1000")
                                                            }
                                                            else if (item.Amount == "2000000")
                                                            {
                                                                @Html.Raw("2000")
                                                            }
                                                            else if (item.Amount == "3000000")
                                                            {
                                                                @Html.Raw("3000")
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Amount)VND
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Status)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col text-center">
                                    @if (pager.TotalPages > 0)
                                    {
                                        var pre = 1;
                                        var next = pager.CurrentPage + 1;
                                        <div class="block-27">
                                            <ul>
                                                <li><a type="button" class="button break-page" asp-controller="user"
                                                        asp-action="GetCoinsHistory" asp-route-userId="@Id"
                                                        asp-route-pg="@pre">&lt;</a></li>
                                                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                                                {

                                                    <li><a type="button" class="button break-page" asp-controller="user"
                                                            asp-action="GetCoinsHistory" asp-route-userId="@Id"
                                                            asp-route-pg="@pge">@pge</a></li>
                                                    pre = pge - 1;
                                                    if (pre == 1 || pre == 0)
                                                    {
                                                        pre = 1;
                                                    }
                                                    if (next < pager.EndPage)
                                                    {
                                                        next = pge + 1;
                                                    }

                                                    if (next >= pager.EndPage)
                                                    {
                                                        next = pager.EndPage;
                                                    }
                                                }
                                                <li><a type="button" class="button break-page" asp-controller="user"
                                                        asp-action="GetCoinsHistory" asp-route-userId="@Id"
                                                        asp-route-pg="@next">&gt;</a></li>
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
