@model IEnumerable<Car_rental.Models.user>

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">User Table</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.name)
                            </th>
                            <th>
                                Citizen Identification
                            </th>
                            <th>
                                Driver License
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                DoB
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.flag)
                            </th>

                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    @if (item.image == null)
                                    {
                                        <img src="~/ImageUser/@@@@@@@@.png" alt="" />
                                    }
                                    else
                                    {
                                        <img src="~/ImageUser/@Html.DisplayFor(modelItem => item.image)" alt="" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.citizen_identification)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.driver_license)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dob)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @{
                                        if (item.flag == 1)
                                        {
                                            @Html.Raw("<span class='badge badge-success'>Verified</span>")
                                        }
                                        else
                                        {
                                            @Html.Raw("<span class='badge badge-danger'>Unverified</span>")
                                        }
                                    }
                                </td>
                                <td>
                                    @* <a class="badge badge-warning" asp-action="Edit" asp-route-id="@item.id">Edit</a> | *@
                                    <a class="badge badge-info"  asp-action="Profile" asp-route-id="@item.id">Details</a> |
                                    @* <a class="badge badge-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a> *@
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-primary dropdown-toggle"
                                            data-toggle="dropdown">
                                            Set Status
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item btn bg-warning" style="color: #fff; text-align: center;"
                                                asp-action="SetUserStatus" asp-route-userId="@item.id"
                                                asp-route-flag="2">Warning</a>
                                            <a class="dropdown-item btn bg-danger" style="color: #fff; text-align: center;"
                                                asp-action="SetUserStatus" asp-route-userId="@item.id"
                                                asp-route-flag="3">Ban</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div class="btn-group" role="group" aria-label="Basic example">
                @if (pager.TotalPages > 0)
                {
                    var pre = 1;
                    var next = pager.CurrentPage + 1;
                    <a type="button" class="btn btn-outline-secondary" asp-controller="User" asp-action="Index"
                        asp-route-pg="@pre">&lt;</a>
                    @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                    {

                        <a type="button" class="btn btn-outline-secondary" asp-controller="User" asp-action="Index"
                            asp-route-pg="@pge">@pge</a>
                        pre = pge - 1;
                        if (pre == 1 || pre == 0)
                        {
                            pre = 1;
                        }
                        if (next >= pager.EndPage)
                        {
                            next = pager.EndPage;
                        }
                    }
                    <a type="button" class="btn btn-outline-secondary" asp-controller="User" asp-action="Index"
                        asp-route-pg="@next">&gt;</a>

                }
            </div>
        </div>
    </div>
</div>
