@model IEnumerable<Car_rental.Models.user>

@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">User Table</h4>
                  <p class="card-description">
                    <a asp-action="Create">Create New</a>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                Citizen Identification
            </th>
            <th>
                Driver License
            </th>
            <th>
                Phone
            </th>
            <th>
                DoB
            </th>
            <th>
                Email
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flag)
            </th>

            <th></th>
        </tr>
    </thead>
    
                      <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td class="py-1">
                                    @if(item.image == null) {
                                        <img src="~/ImageUser/@@@@@@@@.png" alt="" />
                                    }else{
                                        <img src="~/ImageUser/@Html.DisplayFor(modelItem => item.image)" alt="" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.citizen_identification)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.driver_license)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dob)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @{
                                        if(item.flag == 1){
                                            @Html.Raw("<span class='badge badge-success'>Verified</span>")
                                        }
                                        else{
                                            @Html.Raw("<span class='badge badge-danger'>Unverified</span>")
                                        }
                }
                                </td>
                                <td>
                                    <a class="badge badge-warning" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                    <a class="badge badge-info" asp-action="Details" asp-route-id="@item.id">Details</a> |
                                    <a class="badge badge-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                </td>
                            </tr>
                    }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

