@{
  ViewData["Title"] = "Payment";
  Pager pager = new Pager();
  int pageNo = 0;
  var Id = Context.Session.GetInt32("_ID") != null ? Context.Session.GetInt32("_ID") : null;
  if (ViewBag.Pager != null)
  {
    pager = ViewBag.Pager;
    pageNo = pager.CurrentPage;
  }

}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../user/images/image_1.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span>
          <span>Get coins status</span>
        </p> <i class="ion-ios-arrow-forward"></i></span></p>
        <h1 class="mb-3 bread">Get coins status</h1>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #eee;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 pills">
        <div class="bd-example bd-example-tabs">
          <div class="d-flex justify-content-center">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description"
                  role="tab" aria-controls="pills-description" aria-expanded="true">Bookings History</a>
              </li>
            </ul>
          </div>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
              aria-labelledby="pills-description-tab">
              <div class="row">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead style="background-color: #01d28e; color: white; font-weight: bold; text-align: center;">
                      <th>
                        Code
                      </th>
                      <th>
                        Time
                      </th>
                      <th>
                        Coins
                      </th>
                      <th>
                        Value
                      </th>
                      <th>
                        Status
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="text-weight: bold; text-align: center;">
                          @Context.Request.Query["invoiceNo"]
                        </td>
                        <td style="text-weight: bold; text-align: center;"> 
                          @Context.Request.Query["timeStamp"]
                        </td>
                        <td style="text-weight: bold; text-align: center;"> 
                          @Context.Request.Query["invoiceNo"]
                        </td>
                        <td style="text-weight: bold; text-align: center;">
                          @Context.Request.Query["amount"]
                        </td>
                        <td style="text-weight: bold; text-align: center; color: green">
                          @Context.Request.Query["resultMsg"]
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>