@model Car_rental.Models.bookings

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .card{
  margin:auto;
  border:solid 1px #dbdad7; 
  width:60%; 
  padding-left:10px!important;
  padding-bottom:10px!important;
  padding-right:10px!important;
  padding-top: 0px!important;

}

.card-title{
  margin:auto;
  padding:15px;
  background-color: #2f7fad;
  color: white;
  width:80%;
}

div.card-body{
  padding:0px;
}
.custom-select{
  width:100%;
}

.btn2{
  margin-left:10%;
}
input {
  outline: 0!important;
  border-width: 0 0 2px!important;
  border-color: #d1d1cf!important;
}
input:focus {
  border-color: #d1d1cf!important;
 -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

select{

 outline: 0!important;
  border-width: 0 0 2px!important;
  border-color: #d1d1cf!important;
}

select:focus{
    border-color: #d1d1cf!important;
 -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.radiobtn{
  margin-left: 3.5%;
}

.icons{
  margin:auto!important;

}

.fa{
  border-radius: 25px;
  width: 10%;
  margin-left: 5%;
  border:solid 2px #dbdad7;
  margin-top:5%;
  text-align: center;
}

.fa-plane{
  color:#1cad9f;
}

.fa-taxi{
  color: #c2f700;
}

.fa-train{
  color:red;
}


  .card{
    margin:auto;
    border:solid 1px #dbdad7;
    width:90%;
    padding-left:10px!important;
    padding-bottom:10px!important;
    padding-right:10px!important;
    padding-top: 0px!important;

  }

  .fa{
    border-radius: 25px;
    width: 15%;
    margin-left: 5%;
    border:solid 2px #dbdad7;
    margin-top:5%;
    text-align: center;
  }

</style>
<!--Card-->
<div class="card shadow mb-5 bg-white rounded">

    <!--Card-Body-->
    <div class="card-body">

        <!--Card-Title-->
        <p class="card-title text-center shadow mb-5 rounded">Car Booking Form</p>

    <hr>
        <!--Second Row-->
        <form method="post" asp-controller="bookings" asp-action="Booking">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="cardId" value="@ViewBag.cardId" />
            <input type="hidden" name="totalAmount" value="@ViewBag.totalAmount" />
            <input type="hidden" name="totalAmount" value="@ViewBag.userId" />
            
            <div class="row">
            <div class="col-sm-6">
              <p>@ViewBag.userId</p>
                <select class="browser-default custom-select mb-4" id="select">
                    <option value="" disabled="" selected="">From City/Airport</option>
                    <option value="1">New Delhi</option>
                    <option value="2">Mumbai</option>
                    <option value="3">Bangalore</option>
                </select>
            </div>

            <div class="col-sm-6">
                <select class="browser-default custom-select mb-4" id="select">
                    <option value="" disabled="" selected="">To City/Airport</option>
                    <option value="1">New Delhi</option>
                    <option value="2">Mumbai</option>
                    <option value="3">Bangalore</option>
                </select>
            </div>
        </div>
        <!--Third Row-->
        <div class="row">
            <div class="col-sm-6">
                Start-days
                <input placeholder="&#xf073; Departing" id="date-picker-example" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome"asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
                <div class="col-sm-6">
                End-day
                <input placeholder="&#xf073; Arriving" id="date-picker-example" class="form-control datepicker" style="font-family:Arial, FontAwesome" asp-for="endDate" class="form-control" />
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
        </div>
        <!--Fourth Row-->
        <div class="row mt-4">
            <div class="col-sm-6">
                <select class="browser-default custom-select mb-4" id="select">
                    <option value="" disabled="" selected="">Anytime</option>
                    <option value="1">6:00 AM</option>
                    <option value="2">3:00 PM</option>
                    <option value="3">6:00 PM</option>
                </select>
            </div>
            <div class="col-sm-6">
                <select class="browser-default custom-select mb-4" id="select">
                    <option value="" disabled="" selected="">Anytime</option>
                    <option value="1">6:00 AM</option>
                    <option value="2">3:00 PM</option>
                    <option value="3">6:00 PM</option>
                </select>
            </div>
                </div>
                <!--Fifth Row-->
                <div class="row">
                    <div class="col-sm-4">
                        <select class="browser-default custom-select mb-4" id="select">
                            <option value="" disabled="" selected="">Kids(0-14)</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select class="browser-default custom-select mb-4" id="select">
                            <option value="" disabled="" selected="">Adults(15-64)</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>

                    <div class="col-sm-4">
                        <select class="browser-default custom-select mb-4" id="select">
                            <option value="" disabled="" selected="">Seniors(65+)</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                         </select>
                    </div>
                </div>
                <div class="form-group">
                        <label asp-for="totalAmount" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-primary text-white">$</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="@ViewBag.totalAmount" readonly/>
                        </div>
                        <span asp-validation-for="totalAmount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            </div>
        </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
