@model IEnumerable<Car_rental.Models.car>

@{
    ViewData["Title"] = "Car List";
    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    var Id = Context.Session.GetInt32("_ID") != null ? Context.Session.GetInt32("_ID") : null;

}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Car Table</h4>
            <p class="card-description">
                <a asp-action="Create">Create New</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Model
                            </th>
                            <th>
                                State
                            </th>
                            <th>
                                Seat
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mileage)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transmission)
                            </th>
                            <th>
                                Color
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                Booking type
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.model)
                                </td>
                                <td>
                                    @{
                                        if (item.available == 1)
                                        {
                                            @Html.Raw("<span class='badge badge-success'>Available</span>")
                                        }
                                        else
                                        {
                                            @Html.Raw("<span class='badge badge-danger'>Unavailable</span>")
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.seat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mileage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Transmission)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.color)
                                </td>
                                <td style="width: 100px; max-width: 200px; max-height: 100px; overflow: auto;">
                                    @Html.DisplayFor(modelItem => item.address)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.category.type)
                                </td>
                                <td>
                                    <a class="badge badge-warning" asp-action="Edit" asp-route-userId="@Id"
                                        asp-route-id="@item.id">Edit</a> |
                                    <a class="badge badge-info" asp-action="Details" asp-route-id="@item.id">Details</a> |
                                    <a class="badge badge-danger" asp-action="Delete" asp-route-userId="@Id"
                                        asp-route-id="@item.id">Delete</a> |
                                    <a class="badge badge-primary" asp-action="SetStatus"
                                     asp-route-carId="@item.id" asp-route-userId="@Id">Free or Busy</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div class="btn-group" role="group" aria-label="Basic example">
                @if (pager.TotalPages > 0)
                {
                    var pre = pager.CurrentPage - 1;
                    var next = pager.CurrentPage + 1;
                                            if (pre == 1 || pre == 0)
                        {
                            pre = 1;
                        }
                    <a type="button" class="btn btn-outline-secondary" asp-controller="Car" asp-action="Index"
                        asp-route-pg="@pre">&lt;</a>
                    @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                    {

                        <a type="button" class="btn btn-outline-secondary" asp-controller="Car" asp-action="Index"
                            asp-route-pg="@pge">@pge</a>
                        pre = pge - 1;
                        if (pre == 1 || pre == 0)
                        {
                            pre = 1;
                        }
                        if (next >= pager.EndPage)
                        {
                            next = pager.EndPage;
                        }
                    }
                    <a type="button" class="btn btn-outline-secondary" asp-controller="Car" asp-action="Index"
                        asp-route-pg="@next">&gt;</a>

                }
            </div>
        </div>
    </div>
</div>
