@model Car_rental.Models.car

@{
    ViewData["Title"] = "Create";
    var Id = Context.Session.GetInt32("_ID") != null ? Context.Session.GetInt32("_ID") : null;
}

<h1>Create</h1>

<h4>car</h4>
<p>@ViewBag.UserId</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="userID" value=@Id />
            <div class="form-group">
                Image 1
                <br/>
                <input type="file" name="myfile1" class="form-control" accept="image/*"/>
            </div>
            <div class="form-group">
                Image 2
                <br/>
                <input type="file" name="myfile2" class="form-control" accept="image/*"/>
            </div>
            <div class="form-group">
                Image 3
                <br/>
                <input type="file" name="myfile3" class="form-control" accept="image/*"/>
            </div>
            <div class="form-group">
                Image 4
                <br/>
                <input type="file" name="myfile4" class="form-control" accept="image/*"/>
            </div>
            <div class="form-group">
                Image 5
                <br/>
                <input type="file" name="myfile5" class="form-control" accept="image/*"/>
            </div>
            <div class="form-group">
                <label asp-for="model" class="control-label"></label>
                <input asp-for="model" class="form-control" />
                <span asp-validation-for="model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brand" class="control-label"></label>
                <input asp-for="brand" class="form-control" />
                <span asp-validation-for="brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seat" class="control-label"></label>
                <input asp-for="seat" class="form-control" />
                <span asp-validation-for="seat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmission" class="control-label"></label>
                <input asp-for="Transmission" class="form-control" />
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="color" class="control-label"></label>
                <input asp-for="color" class="form-control" />
                <span asp-validation-for="color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="available" class="control-label"></label>
                <input asp-for="available" class="form-control" />
                <span asp-validation-for="available" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AirConditioning" /> @Html.DisplayNameFor(model => model.AirConditioning)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ChildSeat" /> @Html.DisplayNameFor(model => model.ChildSeat)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GPS" /> @Html.DisplayNameFor(model => model.GPS)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Luggage" /> @Html.DisplayNameFor(model => model.Luggage)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Music" /> @Html.DisplayNameFor(model => model.Music)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SeatBelt" /> @Html.DisplayNameFor(model => model.SeatBelt)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SleepingBed" /> @Html.DisplayNameFor(model => model.SleepingBed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Water" /> @Html.DisplayNameFor(model => model.Water)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bluetooth" /> @Html.DisplayNameFor(model => model.Bluetooth)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OnboardComputer" /> @Html.DisplayNameFor(model => model.OnboardComputer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AudioInput" /> @Html.DisplayNameFor(model => model.AudioInput)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LongTermTrips" /> @Html.DisplayNameFor(model => model.LongTermTrips)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CarKit" /> @Html.DisplayNameFor(model => model.CarKit)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RemoteCentralLocking" /> @Html.DisplayNameFor(model => model.RemoteCentralLocking)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ClimateControl" /> @Html.DisplayNameFor(model => model.ClimateControl)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="discount_id" class="control-label"></label>
                <select asp-for="discount_id" class ="form-control" asp-items="ViewBag.discount_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="category_id" class="control-label"></label>
                <select asp-for="category_id" class ="form-control" asp-items="ViewBag.category_id"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
