@model Car_rental.Models.car
@using Car_rental.Data;
@inject Car_rentalContext _context

@{
    ViewData["Title"] = "Edit";
    var Id = Context.Session.GetInt32("_ID") != null ? Context.Session.GetInt32("_ID") : null;

}
@{
    // Define the GetAddressPart function in a Razor code block
    Func<string, int, string> GetAddressPart = (fullAddress, partIndex) =>
    {
        var parts = fullAddress.Split(new[] { ", " }, StringSplitOptions.None);
        return (partIndex >= 0 && partIndex < parts.Length) ? parts[partIndex] : "";
    };
}

<h1>Edit</h1>

<h4>car</h4>
<hr />
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card" style="width: 100px; overflow-x: auto;">
        <div class="card-body">
            <ul class="list-group list-group-horizontal">
                @foreach (var item in ViewBag.imgList)
                {
                    <li class="list-group-item border-0">
                        <div class="d-flex flex-column align-items-center">
                            <img src="/images/@item.nameFile" style="height: 200px; width: auto;" class="mb-2" />
                            <a class="btn btn-danger" asp-controller="Images" asp-action="DeleteImg" asp-route-id="@item.id"
                                asp-route-userId="@Id">Delete</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4" style="height: 500px;  overflow-y: auto;">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group">
                Image 1
                <br />
                <input type="file" name="myfile1" class="form-control" accept="image/*" />
            </div>
            <div class="form-group">
                Image 2
                <br />
                <input type="file" name="myfile2" class="form-control" accept="image/*" />
            </div>
            <div class="form-group">
                Image 3
                <br />
                <input type="file" name="myfile3" class="form-control" accept="image/*" />
            </div>
            <div class="form-group">
                Image 4
                <br />
                <input type="file" name="myfile4" class="form-control" accept="image/*" />
            </div>
            <div class="form-group">
                Image 5
                <br />
                <input type="file" name="myfile5" class="form-control" accept="image/*" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <input type="hidden" name="userId" value="@Id" />
            <div class="form-group">
                <label asp-for="model" class="control-label"></label>
                <input asp-for="model" class="form-control" />
                <span asp-validation-for="model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brand" class="control-label"></label>
                <input asp-for="brand" class="form-control" />
                <span asp-validation-for="brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seat" class="control-label"></label>
                <input asp-for="seat" class="form-control" />
                <span asp-validation-for="seat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmission" class="control-label"></label>
                <input asp-for="Transmission" class="form-control" />
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="color" class="control-label"></label>
                <input asp-for="color" class="form-control" />
                <span asp-validation-for="color" class="text-danger"></span>
            </div>
            @* <div class="form-group">
            <label asp-for="address" class="control-label"></label>
            <input asp-for="address" class="form-control" />
            <span asp-validation-for="address" class="text-danger"></span>
            </div> *@
            <input type="hidden" id="hidden-address" asp-for="address" class="form-control" required />
            <div class="form-group">
                <label for="street-number" class="control-label">street-number</label>
                <input type="text" id="street-number" class="form-control" required
                    value="@GetAddressPart(Model.address, 0)" />
            </div>

            <div class="form-group">
                <label for="street-name" class="control-label">street-name</label>
                <input type="text" id="street-name" class="form-control" required
                    value="@GetAddressPart(Model.address, 1)" />
            </div>

            <div class="form-group">
                <label for="ward" class="control-label">Ward</label>
                <input type="text" id="ward" class="form-control" required value="@GetAddressPart(Model.address, 2)" />
            </div>

            <div class="form-group">
                <label for="district" class="control-label">District</label>
                <input type="text" id="district" class="form-control" required
                    value="@GetAddressPart(Model.address, 3)" />
            </div>

            <div class="form-group">
                <label for="city" class="control-label">City</label>
                <input type="text" id="city" class="form-control" required value="@GetAddressPart(Model.address, 4)" />
            </div>

            <div class="form-group">
                <label for="province" class="control-label">Province</label>
                <input type="text" id="province" class="form-control" required
                    value="@GetAddressPart(Model.address, 5)" />
            </div>
            <div class="form-group">
                <label asp-for="available" class="control-label"></label>
                <input asp-for="available" class="form-control" />
                <span asp-validation-for="available" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AirConditioning" /> @Html.DisplayNameFor(model =>
                    model.AirConditioning)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ChildSeat" /> @Html.DisplayNameFor(model =>
                    model.ChildSeat)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GPS" /> @Html.DisplayNameFor(model => model.GPS)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Luggage" /> @Html.DisplayNameFor(model => model.Luggage)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Music" /> @Html.DisplayNameFor(model => model.Music)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SeatBelt" /> @Html.DisplayNameFor(model => model.SeatBelt)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SleepingBed" /> @Html.DisplayNameFor(model =>
                    model.SleepingBed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Water" /> @Html.DisplayNameFor(model => model.Water)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bluetooth" /> @Html.DisplayNameFor(model =>
                    model.Bluetooth)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OnboardComputer" /> @Html.DisplayNameFor(model =>
                    model.OnboardComputer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AudioInput" /> @Html.DisplayNameFor(model =>
                    model.AudioInput)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LongTermTrips" /> @Html.DisplayNameFor(model =>
                    model.LongTermTrips)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CarKit" /> @Html.DisplayNameFor(model => model.CarKit)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RemoteCentralLocking" /> @Html.DisplayNameFor(model =>
                    model.RemoteCentralLocking)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ClimateControl" /> @Html.DisplayNameFor(model =>
                    model.ClimateControl)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="category_id" class="control-label"></label>
                <select asp-for="category_id" class="form-control" asp-items="ViewBag.category_id"></select>
                <span asp-validation-for="category_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    // Define the GetAddressPart function in the global scope
    function GetAddressPart(fullAddress, partIndex) {
        const parts = fullAddress.split(', ');
        return parts[partIndex] || ''; // Return the corresponding element or an empty string if it doesn't exist
    }
    function updateHiddenAddress() {
        const streetNumberInput = document.getElementById("street-number").value;
        const streetNameInput = document.getElementById("street-name").value;
        const wardInput = document.getElementById("ward").value;
        const districtInput = document.getElementById("district").value;
        const cityInput = document.getElementById("city").value;
        const provinceInput = document.getElementById("province").value;

        const fullAddress = streetNumberInput + ", " + streetNameInput + ", " + wardInput + ", " + districtInput + ", " + cityInput + ", " + provinceInput;

        const hiddenAddress = document.getElementById("hidden-address");
        hiddenAddress.value = fullAddress;
    }

    document.getElementById("street-number").addEventListener("input", updateHiddenAddress);
    document.getElementById("street-name").addEventListener("input", updateHiddenAddress);
    document.getElementById("ward").addEventListener("input", updateHiddenAddress);
    document.getElementById("district").addEventListener("input", updateHiddenAddress);
    document.getElementById("city").addEventListener("input", updateHiddenAddress);
    document.getElementById("province").addEventListener("input", updateHiddenAddress);
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
