@model IEnumerable<Car_rental.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a onclick="showInPopup('@Url.Action("Create","Car",null,Context.Request.Scheme)','Create New Car')" class="btn btn-success text-white"><i class="fas fa-random"></i> Create new car</a>
            
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <div class="btn-group" role="group" >
                    <a onclick="showInPopup('@Url.Action("Edit","Car",new {id=item.Id},Context.Request.Scheme)','Edit')" class="btn btn-warning text-white">Edit</a>
                    <a onclick="showInPopup('@Url.Action("Details","Car",new {id=item.Id},Context.Request.Scheme)','Details')" class="btn btn-primary text-white">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
