@model IEnumerable<Car_rental.Models.userRole>

@{
    ViewData["Title"] = "Index";
    var role = Context.Session.GetString("_Role") != null ? Context.Session.GetString("_Role") : null;
    string message = "You are not authorized to access this page!";
    if (role != "Admin")
    {
        <script>
            alert("@message");
            window.location.href = "/Car/Home";
        </script>
    }
}

<h1>User role</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.role.role)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                     @* |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
